@font-face {
    font-family: 'Red Hat Display';
    src: url(uploads/RHD.ttf);
}
@font-face {
    font-family: 'Red Hat Mono';
    src: url(uploads/RHM.ttf);
}

html {
    margin: 0;
    padding: 0;

}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

header {
    display: flex;
    max-height: 60px;
    margin-top: 40px;
    align-items: center;
    justify-content: space-between;
}

#logo {
    display: flex;
    max-height: 80px;
    align-items: center;
    cursor: pointer;
    float: left;
    user-select: none;
}

#greyHead {
    height: 60px;
    padding-right: 10px;
}

#nameStacked > h2 {
    font-family: 'Futura';
    font-weight: 500;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 0;
    padding: 0;
}

#nameStacked > h2:first-of-type {
    letter-spacing: 3px;
}

#banner {
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    padding: 0;
    margin: 0;
    word-wrap: break-word;
    background-color: #ffe600;
    font-size: 20px;
    color: black;
    font-family: 'Red Hat Mono';
    text-align: center;
}

#zhe {
    font-family: sans-serif;
    letter-spacing: 4px;
    font-size: 19px;
}

#now {
    text-decoration: underline;
    color: black;
    cursor: pointer;
}

#searchInput {
    padding-right: 2.5px;
    align-items: baseline;
    background-image: url(uploads/searchIcon.svg);
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: right center;
    background-origin: content-box;
    height: 30px;
    border: none;
    border-bottom: 1px solid black;
    width: 50vw;
    max-width: 300px;
    font-size: 20px;
}

#centered {
    display: flex;
    justify-content: center;
}

#feed {
    width: calc(100vw - 20px);
    max-width: 580px;
    align-items: center;

}

.item {
    margin-top: 20px;
    border-bottom: 1px solid black;
    text-decoration: none;
    color: black;
}

.headerImage {
    width: 100%;
}

#post {
    display: block;
    width: calc(100vw - 20px) !important;
    max-width: 580px;
    align-items: center;
    justify-content: left;
}

.backButton {
    font-size: 25px;
    font-weight: bold;
    font-family: 'Red Hat Display';
    text-align: center;
    height: 40px;
    width: 40px;
    border: 3px solid black;
    border-radius: 100%;
    background-color: white;
    cursor: pointer;
    margin-bottom: 20px;
    
}


/* Post Styling */
.postTitle {
    font-family: 'Red Hat Display';
    font-weight: 500;
}

.postSubtitle {
    font-family: 'Red Hat Display';
    font-weight: 400;
}

.postBody {
    font-family: 'Red Hat Display';
    font-weight: 400;
}